
.writer-toolbar {
	background-color: $grayLightest;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom:2px solid $grayShadow;
	

	i {
		color: $grayLight;
	}
	.centerButton {
		text-align: center;
	}
	.btn-group {

	}
	.active {
	    background-color: $successBackground;
	    color: $successText;
	}
	h1 {
		color: $orange;
		margin: 0px;
		span {
			color: lighten($orange, 20%);
		}
	}
	@media screen and (max-width: 767px) {
		h1 {
			display: none;
		}
	}
}